.form {
    margin-top: 6rem;
}

.noAccount{
    text-align: center;
    transform: translateY(27.3rem);
    /* color: rgb(197, 197, 197); */
}

.noAccount a{
    font-weight: 700;
    cursor: pointer;
}