.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.headingContainer {
    height: 10rem;
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headingContainer input {
    height: 2.5rem;
    width: 16rem;
    padding: 0rem 1rem;
}
.headingContainer button {
    height: 2.5rem;
}


.ngoCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}